{{set . "title" "Todos"}}
{{template "header.html" .}}

<body class="bg-light">

  <div class="container">
    <p>&nbsp;</p>
    <form method="POST" action="{{url "App.PostEdit" .todo.ID}}">
      <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name" value="{{.todo.Name}}" aria-describedby="todoName" placeholder="Enter Todo Name" autofocus>
            {{with $field := field "name" .}}
              {{if $field.Error}}
              <p>
                <div class="alert alert-danger" role="alert">{{$field.Error.Message}}</div>
              </p>
              {{end}}
            {{end}}
          </div>
        </div>
        <div class="form-group row">
          <label for="desc" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea type="text" rows="5" class="form-control" name="desc" id="desc" aria-describedby="todoName">{{.todo.Desc}}</textarea>
              {{with $field := field "desc" .}}
                {{if $field.Error}}
                    <p>
                      <div class="alert alert-danger" role="alert">{{$field.Error.Message}}</div>
                    </p>
                {{end}} 
              {{end}}
            </div>
        </div>
        <p class="buttons">
          <input type="submit" value="Save"> <a href="{{url "App.Index"}}">Cancel</a>
        </p>
    </form>
  </div>
</body>

{{template "footer.html" .}}
