{{set . "title" "Todos"}}
{{template "header.html" .}}

<body class="bg-light">

  <div class="container">

  <p>
    <div class="row">
      <div class="col-sm">
          <form action="{{url "App.New"}}">
            <button class="btn btn-secondary" type="submit">New Todo</button>
          </form>
      </div>
    </div>
  </p>

  {{template "flash.html" .}}

  <p>
    <div class="row">
        <div class="col-sm">
          <span class="badge badge-pill badge-success">{{len .todosActive}}</span>
          Active Todos                 
        </div>
      </div>
  </p>
  {{range .todosActive}}
      <div class="card" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><a href="{{url "App.Edit" .ID}}">{{.Name}}</a> ({{.ActiveMinutes}} minutes active)</h6>
            <p class="card-text"><span style="white-space: pre-line">{{.Desc}}</span></p>
            <form action="{{url "App.Complete" .ID}}">
              <button class="btn btn-outline-primary btn-sm" type="submit">Complete</button>
            </form>
          </div>
        </div>
  {{end}}

  <p>
    <div class="row">
        <div class="col-sm">
          <span class="badge badge-pill badge-primary">{{len .todosOpen}}</span>
          Open Todos                 
        </div>
      </div>
  </p>
  {{range .todosOpen}}
      <div class="card" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><a href="{{url "App.Edit" .ID}}">{{.Name}}</a></h6>
            <p class="card-text"><span style="white-space: pre-line">{{.Desc}}</span></p>
            <form action="{{url "App.Activate" .ID}}">
              <button class="btn btn-outline-success btn-sm" type="submit">Activate</button>
            </form>
          </div>
        </div>
  {{end}}

  <p>
    <div class="row">
        <div class="col-sm">
          <span class="badge badge-secondary badge-pill">{{len .todosClosed}}</span>
          Closed Todos                 
        </div>
      </div>
  </p>
  {{range .todosClosed}}
      <div class="card" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{.Name}} ({{.ActiveMinutes}} minutes active)</h6>
            <p class="card-text"><span style="white-space: pre-line">{{.Desc}}</span></p>
          </div>
        </div>
  {{end}}

  </div>

</body>

{{template "footer.html" .}}
