{{set . "title" "Todos"}}
{{template "header.html" .}}

<body class="bg-light">

  <div class="container">
    <p>&nbsp;</p>
    <form method="POST" action="{{url "App.PostNew"}}">
      <div class="form-group row">
        {{with $field := field "name" .}}
          <label for="{{$field.Name}}" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="{{$field.Name}}" id="{{$field.Name}}" value="{{$field.Flash}}" aria-describedby="todoName" placeholder="Enter Todo Name" autofocus>
            {{if $field.Error}}
            <p>
              <div class="alert alert-danger" role="alert">
                {{$field.Error.Message}}
              </div>
            </p>
            {{end}}
          </div>
          {{end}}
        </div>
        <div class="form-group row">
            {{with $field := field "desc" .}}
              <label for="{{$field.Name}}" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea type="text" rows="5" class="form-control" name="{{$field.Name}}" id="{{$field.Name}}" aria-describedby="todoName">{{$field.Flash}}</textarea>
                {{if $field.Error}}
                <p>
                  <div class="alert alert-danger" role="alert">
                    {{$field.Error.Message}}
                  </div>
                </p>
                {{end}} 
              </div>
            {{end}}
        </div>
        <p class="buttons">
          <input type="submit" value="Save"> <a href="{{url "App.Index"}}">Cancel</a>
        </p>
    </form>
  </div>
</body>

{{template "footer.html" .}}
