
<div id="sidebar" style="display:none;">
	<h4>Available pipelines</h4>
	<dl>
	{{ range $index, $value := .}}
		<dt>{{$index}}</dt>
		<dd>{{$value}}</dd>
	{{end}}
	</dl>
	<h4>Flash</h4>
	<dl>
	{{ range $index, $value := .flash}}
		<dt>{{$index}}</dt>
		<dd>{{$value}}</dd>
	{{end}}
	</dl>

	<h4>Errors</h4>
	<dl>
	{{ range $index, $value := .errors}}
		<dt>{{$index}}</dt>
		<dd>{{$value}}</dd>
	{{end}}
	</dl>
</div>
